*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 16, 16);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important ;
}
span{
    font-weight: bold;
}
.white{
    color: rgb(193, 193, 193);
}
form{
    background-color: rgb(193, 193, 193);
}
#carrito{
    display: none;
}
tbody{
    text-align: center;
}
tbody tr{
    text-align: center;
}

.negro{
    color: black;
}